<p>
  Maps form an important part of our life now. Your task is to make an application which would allow one
  to share a location with other people. You would be asked to login and after logging in you can view the
  Places you have shared, and places other people have shared with you. You would need to show those
  location on the map. You can share a new location either as public, or with selected people. Anyone can
  view your public shared places by going to your page (<site>/<username>. You can use Seed file to
  create Users and set up their Friends relationship.
</p>
